//
   Created by Pradeep on 5/9/14.

doctype html
html
    head
        title  version1
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/font-awesome.css')
        link(rel='stylesheet', href='/stylesheets/website_version1.css')
        script(type='text/javascript', src='/javascripts/jquery.js')
        script(type='text/javascript', src='/javascripts/bootstrap.min.js')
        script(type='text/javascript', src='/javascripts/website-version1.js')
    //
      tabs in header
    body(data-spy='scroll', data-target='.navbar')
        .navbar.navbar-fixed-top
            nav.navbar.navbar-default(role='navigation')
                .container-fluid
                    //
                       Brand and toggle get grouped for better mobile display
                    .navbar-header
                        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href='#')
                            i.fa.fa-home
                    #bs-example-navbar-collapse-1.collapse.navbar-collapse
                        .col-sm-2
                        .col-sm-8
                            ul.nav.nav-pills.nav-justified
                                li.active
                                    a(href='#home') HOME
                                li
                                    a(href='#education')  EDUCATION
                                li
                                    a(href='#projects')  PROJECTS
                                li
                                    a(href='#resume')  RESUME
                                li
                                    a(href='#creative-side')  CREATIVE SIDE
                                li
                                    a(href='#contact') CONTACT
                        .col-sm-2
        #home
            div
                | I am Pradeep Kumar Chakka
        #education.container

            h3 EDUCATION:
            ul
                li
                    #masters
                        h4 MASTER's
                    #masters-description
                        p
                            | Masters in Electrical Engineering in LDCSEE, West Virginia University with GPA-3.72
                        div
                            h5 COURSES:
                            .col-sm-4
                                ul
                                    li  Advanced SemiConductor Electronics
                                    li  Advanced Mixed Signal IC Design
                                    li  Advanced Image Processing
                                    li  Communication Theory
                            .col-sm-4
                                ul
                                    li  Intro to Digital Signal processing
                                    li  Theory of Operating Systems
                                    li  Linear Control Systems
                                    li  Microwave Engineering
                            .col-sm-4
                                ul
                                    li  Intro to Micro-Fabrication
                                    li  Stochastics Theory
                                    li  Advanced Real Systems
                                    li  Communication Theory
                li
                    #bachelors
                        h4 BACHELOR's
                    .bachelors-description
            .panel
                .panel-heading
                    h3 EDUCATION
                .panel-body
                    ul
                        li  Advanced SemiConductor Electronics
                        li  Advanced Mixed Signal IC Design
                        li  Advanced Image Processing
                        li  Communication Theory
        #projects.container
        #resume.container
        #creative-side.container
        #contact.container
            .col-sm-4
                div
                    h5  Finally..! This is how I look like
                div
                    img.profile-pic.img-circle(src='/images/pradeep.jpg', height='200', width='200')
